body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #212121;
    font-weight: 400;
    
}
*{
    box-sizing: border-box;
    
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,p {
    margin: 0;
}
a{
    text-decoration: none;
 
}/* обнуление */

.body-container{
    display: flex;
    width:1200px;
    height: 80px;
    justify-content:space-around;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}


.logo{
    display: inline-block;
}
.logo-blue{
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    
}
.logo-black{
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}
/* конец логотипа */ 
.navigation{
  display:inline-block;
}
.nav-link{
display: inline-block;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;

}
.address{
display: inline-block;
}
.addr-link{
display: inline-block;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
} 

