body {
    /* width: 1200px; */
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #212121;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* обнуление */

.body-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #0a0909;
    ;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    display: inline-block;
    text-transform: none;
}

.logo-blue {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.logo-black {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

/* конец логотипа */
.navigation {
    display: flex;
    width: 270px;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    display: inline-block;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-link:hover {
    color: #2196f3;
}

.nav-portfolio-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;
    background: #f5f4fa;
    border-radius: 4px;
}

.nav-portfolio-link:hover {
    color: #ffffff;
    background: #2196f3;
    /* border-radius: 4px; */
}

.nav-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-top: 174px;
    margin-bottom: 56px;
}

.portfolio {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 94px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-box {
    border: 1px solid #eeeeee;
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
}

.portfolio-box:hover {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photography-portfolio {
    width: 370px;
    height: 294px;
}

.portfolio-name {
    width: 322px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    color: #212121;
}

.portfolio-description {
    width: 322px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.03em;
    color: #757575;
}

.address-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addr-link {
    display: inline-block;
    margin-right: 20px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.addr-link:hover {
    color: #2196f3;
}

.addr-link::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-image: url(./svg/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    cursor: pointer;
}

.addr-link-a::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url(./svg/envelope.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    cursor: pointer;
}




.bef-1::before {

    display: inline-block;
    content: "";
    background: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-image: url(./svg/Vectorlupa.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;

}

.bef-2::before {
    display: inline-block;
    content: "";
    background: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-image: url(./svg/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;
}

.bef-3::before {
    display: inline-block;
    content: "";
    background: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-image: url(./svg/diagram\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;

}

.bef-4::before {
    display: inline-block;
    content: "";
    background: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-image: url(./svg/Vector\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

.hero-black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    top: 80px;
    background-image: url(./foto/im.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* секция 1 */
.hero {
    display: block;
    padding-top: 200px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    justify-content: center;

    color: #ffffff;
}

.button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 200px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(58, 75, 203, 0.15);
    border-radius: 4px;
}

/* секция 2 */
.Benefits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 10px;

    color: #212121;
}

.short-description {
    width: 270px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* секция3 */
.description-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: #212121;
}

.description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.presentation {
    display: flex;
    padding-bottom: 94px;
    justify-content: space-between;
}

/* секция 4 */
.team {
    width: 100%;
    padding-top: 94px;
    height: 648px;
    justify-content: center;
    text-align: center;
    background: #f5f4fa;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: #212121;
}

.group-team {
    display: flex;
    text-align: justify;
    padding-bottom: 94px;
    justify-content: space-between;
}

.name-team {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.description-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.form {
    width: 270px;
    height: 368px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.foto-form {
    width: 270px;
    height: 260px;
}

/* подвал */

footer {
    width: 100%;
    height: 252px;
    background: #2f303a;
}

.logo-footer {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.logo-foot-blue {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196f3;
}

.flex-logo {
    display: flex;
    padding-bottom: 20px;
}

.logo-foot-white {
    display: inline-block;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address-footer {

    flex-direction: column;
    padding-bottom: 60px;
}

.add-link-foot {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.add-link-foot:hover {
    color: #ffffff;
}

.footer-old {
    display: flex;
}

.join,
.joing {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: #FFFFFF;
}

.instagram {

    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 10px;
}

.twitter {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 10px;
}

.facebook {
    display: inline-block;
    margin: 10px;

}

.linkedin {
    display: inline-block;
    margin: 10px;
}

.instagram::after {
    display: inline-block;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url(./svg/instagram\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    text-align: center;
    cursor: pointer;

}

.twitter::after {
    display: inline-block;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url(./svg/Vector0\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    text-align: center;
    cursor: pointer;
}

.facebook::after {
    display: inline-block;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url(./svg/Vector02.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    text-align: center;
    cursor: pointer;
}

.linkedin::after {
    display: inline-block;
    content: "";
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-image: url(./svg/linkedin\ 103.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    text-align: center;
    cursor: pointer;
}

.join-social {
    margin-top: 72px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 75px; */

}

.instagram:hover {
    background: #2196f3;
    border-radius: 50px;
}

.twitter:hover {
    background: #2196f3;
    border-radius: 50px;
}

.facebook:hover {
    background: #2196f3;
    border-radius: 50px;
}

.linkedin:hover {
    background: #2196f3;
    border-radius: 50px;
}


.icon-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.icon-facebook {
    width: 10px;
    height: 20px;
}

.icon-facebook:hover {
    border-radius: 50px;
    background-color: #2196f3;
}

.icon-inst {
    width: 20px;
    height: 20px;

}

.icon-inst:hover {
    background-color: #2196f3;
}

.icon-linkendin {
    width: 20px;
    height: 20px;
    background-color: #2196f3;
}

.icon-linkendin:hover {}

.icon-twitter {
    width: 20px;
    height: 17px;
    background-color: #2196f3;
}

.icon-twitter:hover {

    width: 20px;
    height: 20px;
    background-color: #2196f3;

}